@media (min-width: 768px) {
    .site-section {
        padding: 1em 0;
    }
    .h1,
    h1 {
        font-size: 2.5rem;
    }
    .h2,
    h2 {
        font-size: 2rem;
    }
    .h3,
    h3 {
        font-size: 1.75rem;
    }
    .h4,
    h4 {
        font-size: 1.5rem;
    }
    .h5,
    h5 {
        font-size: 1.25rem;
    }
    .h6,
    h6 {
        font-size: 1rem;
    }
    .site-blocks-cover h1 {
        font-size: 4rem;
    }
}

@media (max-width: 767.98px) {

    .display-3,
    .display-2,
    .display-4 {
        font-size: 2rem !important;
    }
    .calendar-apartment {
        width : 300px !important;
        height : 250px !important;
    }
    .site-blocks-cover h1 {
        font-size: 2rem;
    }
    p {
        font-size: 12px;
    }
    .h1,
    h1 {
        font-size: 1.75rem;
    }
    .h2,
    h2 {
        font-size: 1.5rem;
    }
    .h3,
    h3 {
        font-size: 1.25rem;
    }
    .h4,
    h4 {
        font-size: 1rem;
    }
    .h5,
    h5 {
        font-size: 0.75rem;
    }
    .h6,
    h6 {
        font-size: 0.5rem;
    }
}

@media (max-width: 991.98px) {
    .bg-md-height {
        height: 300px;
    }
}

@media (max-width: 767.98px) {
    .bg-sm-height {
        height: 300px;
    }
}

@media (max-width: 991.98px) {
    .responsive-md-height {
        height: 500px !important;
        margin-bottom: 15px;
    }

    .menu-wrap {
        visibility: visible !important;
    }
}

.site-footer {
    padding: 3em 3em 0;
}

@media (min-width: 768px) {
    .site-footer {
        padding: 3em 3em 0;
    }
}





@media (max-width: 991.98px) {
    .site-navbar-top .block-unit .icon span {
        font-size: 20px !important;
    }
}

@media (max-width: 767.98px) {

    .site-block-retro .col1,
    .site-block-retro .col2 {
        width: 100%;
    }
}

@media (max-width: 767.98px) {
    .site-block-retro .col1 {
        height: 300px;
        margin-bottom: 8%;
    }
}
